
<link href="__STATIC_PATH__/index/css/footer.css" rel="stylesheet">
<div class="footer">
		<div class="footer-content">
			<div class="left">
				<div class="logo">
					<a class="logo-pic" href=""><img src="__STATIC_PATH__/index/img/yiyuan.png" class="icon icon-yiyuan"></img></a>
				</div>
				<ul class="footer-link">
					<li><a href="">首页</a></li>
					<li><a href="">下载App</a></li>
					<li><a href="">关于我们</a></li>
					<li><a href="">帮助</a></li>
				</ul>
				<div class="copyright">
					<p>GUOKR © 2017 LOVINGLY MADE IN GUANGZHOU </p>
					<p>广州澳源科技有限公司 </p>
					<p>京B2-20160131 | <a href=""><img src="__STATIC_PATH__/index/img/police.png" /> 京公网安备 11010502031582号</a></p>
				</div>
			</div>
			<div class="right">
				<p>020-82529660</p>
				<p>工作日 9:00-18:00</p>
				<span class="kefu">在线客服</span>
				<div class="saoma">
					<span><img src="__STATIC_PATH__/index/img/auth.png" alt=""><div>官方微信</div></span>
				</div>
				<p class="dizhi">地址 广州市天河区车陂龙口商务大厦2楼 </p>
				<p>网址 <a href="www.aoyuankj.com">www.aoyuankj.com</a></p>
			</div>
		</div>
		
	</div>
</body>
</html>